<tr id="post_category_<%= post_category.id %>">
  <th scope="row"><%= post_category.id%></th>
  <td class="name"><%= post_category.title %></td>
  <td><%= post_category.posts.size%></td>
  <td class="edit_link"><%= link_to "編輯", edit_admins_post_category_path(post_category), remote: true %></td>
  <td><%= link_to "刪除", admins_post_category_path(post_category), method: :delete, remote: true %></td>
</tr>



