<%= form_for @post do |post| %>

  <% PostCategory.all.each do | post_category | %>
    <%= check_box_tag "post[post_category_ids][]", post_category.id, @post.post_categories.include?(post_category),id: "category_#{post_category.id}" %>
    <%= label_tag "category_#{ post_category.id}", post_category.title %>
  <% end %>

  <%= post.label :title, "標題"%>
  <%= post.text_field :title %>

  <%= post.label :content, "內容" %>
  <%= post.text_area :content %>

  <%= post.label :image, "圖片" %>
  <%= post.file_field :image %> <br>

  <label> 權限設定 </label>
  <%= post.select :post_permission, FormSelect.post_permission.map { |cate| [cate.name, cate.key] },{} ,:class => 'form-control'%>

  <%= post.submit "草稿", name: "post[post_state]", value: "draft" %>
  <%= post.submit "發布", name: "post[post_state]", value: "publish" %>
<% end %>