<%= form_for @post do |post| %>
  <%= post.collection_check_boxes :post_category_ids, PostCategory.all, :id, :title %>

  <%= post.label :title, "標題"%>
  <%= post.text_field :title %>

  <%= post.label :content, "內容" %>
  <%= post.text_area :content %>

  <%= post.label :image, "圖片" %>
  <%= post.file_field :image %> <br>

  <label> 權限設定 </label>
  <%= post.select :post_permission, FormSelect.post_permission.map { |cate| [cate.name, cate.key] },{} ,:class => 'form-control'%>

  <%= post.submit "草稿", name: "post[post_state]", value: "draft" %>
  <%= post.submit "發布", name: "post[post_state]", value: "publish" %>
<% end %>