<div id= "post_<%= post.id %>" class="col-12 row post">
  <div class="post_left col-4">
      <%= image_tag(post.image.thumb.url) if post.image.present? %>
  </div>

  <div class="post_right col-8">
    <div class="post_right_top">
      <%= post.title %> - <%= link_to post.user.nickname, user_path(post.user) %>
        <%= self_post?(post, current_user) %>
        <%= admin?(post, current_user)%>
    </div>
    <div class="post_right_content">
      <%= simple_format post.content %>
      <%= link_to "閱讀更多", post_path(post) %> <br>
    </div>
    <div class="post_right_bot">
      <span class= "reply_count">留言數：<%= post.replies_count %></span> | 瀏覽次數： <%= post.viewed_num %> | 最新留言時間：<%= post.latest_reply %>
    </div>
  </div>
</div>