<div id="feed">
  <div class="container">
    <h1>全站快訊</h1>

    <div class="content">
      <div class="inform row">
        <div class="offset-1 col-3">
          <p>
            全站使用人數： <strong><%= @user_num %></strong> 
          </p>
        </div>
        <div class="col-3">
          <p>
            全站貼文數：<strong><%= @post_num %></strong>
          </p>
        </div>
        <div class="col-3">
          <p>
            全站回文數： <strong><%= @reply_num %></strong>
          </p>
        </div>
      </div>
      
      <div class="hot_post">
        <h3>最熱門的文章</h3>
        <%= render partial: "posts/post_list", :collection =>  @hot_post, :as => :post %>
      </div>

      <div class="hot_user">
        <h3>聲量最大的使用者</h3>
        <div class="row">
          <% @hot_user.each do |user| %>
            <div id="user_<%= user.id %>" class="user_list col-3">
              <img src="" style="background-image: url('<%= user.image.thumb.url if user.image.present? %>')" alt="">
              <p>
                <%= link_to user.nickname, user_path(user) %>
                <%= user.replies_count %>
              </p>
              <p class="relation">
                <%= respond_relation(user, current_user) %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
  
</div>