<h1>this is post show page</h1>

<%= @post.inspect %>
<%= @post.title %>
<%= link_to "刪除", post_path(id:@post.id, show: true), method: :delete %>
<%= form_for [@post, Reply.new], remote: true do |reply| %>
  <%= reply.label :content %>
  <%= reply.text_field :content %>

  <%= reply.submit %>
<% end %>
<ul id="all_replies">
  <%= render :partial => "replies/all_replies", locals: { replies: @replies }%>
</ul>
<%= paginate @replies, remote: true %>